<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quansu.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".MainActivity"
            android:exported="true"></activity>
        <activity android:name=".MainActivity2" />
        <activity android:name=".ViewDrawActivity" />
        <activity android:name=".ScrollerActivity" />
        <activity
            android:name=".OkhttpActivity"
            android:exported="true" />
        <activity
            android:name=".ServiceActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <service
            android:name=".service.DemoService"
            android:exported="true"
            android:process=":start_service">
            <intent-filter>
                <action android:name="com.example.servicetest.MyAIDLService" />
            </intent-filter>
        </service>
    </application>

</manifest>
